.project_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2.5rem;
}

.project_item{
    padding: 1.2rem;
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
    max-height: 35.4rem;
}

.project_item:hover{
    /* background: transparent; */
    border: 1px solid var(--color-primary-variant);
}

.project_item-image{
    border-radius: 1.5rem;
    height: 16rem;
    overflow: hidden;
} 

.project_item h3{
    /* border: red solid 1px; */
    margin: 1rem 0 0.5rem;
}
.project_item span{
    font-size:0.91rem;
    display: flex;
    /* border: red solid 1px; */
    /* margin: 0.2rem 0 1rem; */
}
.project_item h6{
    /* border: red solid 1px; */
    margin: 0.4rem 0 1rem;
    font-size: 14px;
    font-weight: 400;
}

.project_item-cta{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;
    /* border: solid; */
}

/* ==========================medium */
@media screen and (max-width: 1024px){
    .project_container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
        /* background-color: red; */
    }
}

/* ==========================small */
@media screen and (max-width: 600px){
    .project_container{
        grid-template-columns: 1fr;
        gap: 1rem;
        /* background-color: red; */
    }
}






















