.container.container_interet {
  width: 40%;
  padding-bottom: 3.3rem;
}



.interet {
  background: transparent;
  /* text-align: center; */
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  user-select: none;
}

.interet_detail {
  color: var(--color-light);
  font-weight: 300;
  /* display: block; */
  margin: 0.8rem auto 0;
  /* width: 80%; */

}

.interet_detail a {
  color: tomato;
  font-weight: 400;
}






/* @import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #f7f8fc;
  font-family: "Roboto", sans-serif;
  color: #10182f;
} */
/* .container3 {
  display: flex;
  width: 1040px;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */
.card1 {
  /* margin: 10px; */
  background-color: var(--color-light);
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  /* border: red solid 1px; */
  height: 27.3rem;
  cursor: grab;

}

.card1:active {

  cursor: grabbing;

}

.card1-header img {
  width: 100%;
  height: 19rem;
  object-fit: cover;
}

.card1-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  /* padding:25px; */
  width: 95%;
  min-height: 100px;
  /* border: rgb(0, 0, 0) solid 1px; */

}

.titre1 {
  /* border: rgb(13, 255, 0) solid 1px; */
  font-weight: 500;
  font-size: 1.2rem;
  color: #10182f;
}

.body {
  /* border: rgb(255, 0, 0) solid 1px; */
  width: 100%;
  /* display: flex; */
  /* justify-content: left; */

}


.card1-body p {
  /* color: rgb(27, 26, 26); */
  /* float: left; */
  /* display: block; */
  /* padding: 0; */
  color: #10182f;
  font-size: 14px;
  margin: 0;

  /* border: rgb(255, 0, 0) solid 1px; */

}




/* ==========================medium */
@media screen and (max-width: 1024px) {
  .container.container_interet {
    width: 70%;
  }

  .card1 {
    width: 100%;
    height: 26rem;

  }
}

/* ==========================small */
@media screen and (max-width: 600px) {
  .container.container_interet {
    width: var(--container-width-ms);
    width: 100%;
  }

  .interet_detail {
    width: var(--container-width-ms);

  }

  p {
    display: inline;
  }

  .card1 {
    width: 100%;
    height: 30rem;

  }

}


/* -----------------swiper style */