.container.certificat_container {
    /* display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2.5rem; */
    /* border: red solid 1px; */
    padding: 1px;

}



/* ----------------les btns du filtrage */
.filter {
    /* border: red 1px solid; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.btn-filter {
    background: var(--color-bg);
    border: 2px solid var(--color-primary);
    color: var(--color-primary);
    margin: 0.8rem;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 2rem;
}

.active{
    background: var(--color-primary);
    color: var(--color-bg);
}


.btn-filter:hover {
    color: var(--color-bg);
    background: var(--color-primary);
}


.btn-filter:active {
    color: var(--color-bg);
    background: var(--color-primary);
}








.certificats {
    /* border: red solid 1px; */
    /* display: block; */
    /* width: 30%; */
    /* display: grid; */
    /* grid-template-columns: repeat(3,1fr); */
    gap: 1.7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* transition: var(--transition); */
}


.certificat {
    background: var(--color-bg-variant);
    /* text-align: ; */
    padding: 0.7rem;
    border-radius: 1.2rem;
    border: 1px solid transparent;
    user-select: none;
    /* margin: 1rem 1rem; */
    width: 22%;
    height: 11rem;
    /* transition: var(--transition); */
}

.certificat:hover {
    border-color: var(--color-primary-variant);
}

.titre {
    font-size: 1rem;
    font-weight: 500;
    /* height: 3.3rem; */
    /* margin-bottom: 0.7rem; */
    /* display: block; */
    /* border: red solid 1px; */
    color: var(--color-white);
}

.from {
    font-size: 0.9rem;
    display: block;
    /* border: red solid 1px; */
    margin-bottom: 1rem;
    font-weight: 500;
    margin: auto;
    color: var(--color-white);

}

.when,
.id {
    /* font-size: rem; */
    color: var(--color-light);
    font-weight: 300;
    display: block;
    /* margin: 0.3rem auto 0; */
    width: 95%;
}

.card_container div {

    /* border: orangered 1px solid; */
}

.card {}


.card_container {
    /* border: rgb(21, 255, 0) 1px solid; */
    margin: 0.6rem;

}

.card_icon {
    display: inline;
}

.titre-icon {
    color: var(--color-primary);
    font-size: 1.5rem;
}

.titre_card {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 2px;
}

.card_titre {
    display: grid;
    grid-template-columns: 1fr 7fr;
}

.card_from {
    width: 87%;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card_id {
    width: 87%;
    padding: 0;

}

.card_date {
    width: 87%;
    padding: 0;

}

.card_detail div {
    float: right;
}

.card_afficher {
    display: flex;
    justify-content: end;
    /* border: red solid 1px; */
    margin-top: 0.3rem;
    transition: var(--transition);


}

.Afficher {
    font-size: 0.8rem;
    font-weight: 500;
    padding: 3px 1rem;
    border-radius: 1rem;
    background: var(--color-primary);
    color: var(--color-bg);
}







/* ==========================midum */

@media screen and (max-width: 1024px) {
    .container.formation_container {

        width: var(--container-width-md);
    }



    .btn-filter {
        margin: 0.3rem;
        padding: 0.5rem 0.8rem;
        font-size: 1rem;
        border: 1px solid var(--color-primary);
    }

    .certificat {
        width: 40%;
        height: 8.5rem;
    }



    .card_afficher {
        margin-top: 0.7rem;
    }

    .when,
    .id {
        display: none;
    }
}










/* ==========================small */
@media screen and (max-width: 600px) {
    .container.certificat_container {
        width: var(--container-width-ms);
        width: 100%;
    }

    .btn-filter {
        margin: 0.3rem;
        padding: 0.3rem 0.7rem;
        font-size: 0.8rem;
        border: 1px solid var(--color-primary);
    }

    .titre {
        font-size: 0.7rem;
        font-weight: 500;
        height: 2.5rem;
        margin-bottom: 0.4rem;
    }

    .where {
        font-size: 0.6rem;
        margin-bottom: 0.5rem;
        font-weight: 300;
        margin: auto;

    }

    .when,
    .id {
        font-size: 0.4rem;
        font-weight: 300;
    }




    .card_afficher {
        display: flex;
        justify-content: center;
        margin-top: 0.6rem;

    }

    .Afficher {
        font-size: 0.5rem;
        font-weight: 500;
        padding: 2px 0.7rem;
        border-radius: 1rem;
    }
}




/* ==========================small */
@media screen and (max-width: 403px) {
    .container.certificat_container {
        width: var(--container-width-ms);
        width: 100%;
    }



    .certificat {
        padding: 0.1rem;
        /* border-radius: 1.1rem; */
        margin: 0rem;
        width: 40%;
        height: 6rem;
    }



    .card_container {
        /* border: rgb(21, 255, 0) 1px solid; */
        margin: 0.4rem;

    }

    .card_icon {
        display: none;

    }

    .titre-icon {}

    .titre_card {
        /* border: rgb(255, 221, 0) solid 1px; */

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .card_titre {
        /* border: red solid 1px; */
        display: grid;
        grid-template-columns: 1fr;
    }

    .card_from {
        display: flex;
        width: 100%;

        /* padding:  0; */


    }

    .from {
        margin: auto;
        font-size: 0.7rem;
        font-weight: 300;
    }




    .Afficher {
        font-size: 0.7rem;
        font-weight: 400;
        padding: 1px 0.5rem;
        border-radius: 1rem;
    }
}